
.features1 {
    background: url(../picture/blog-2.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   z-index: 1;
   position: relative;
}

.features1::before {
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   opacity: .1;
   z-index: -1;
   background: #efefef;
}
.features1 hr{
   border-top: 1px solid rgb(255 255 255 / 58%);
}
.features1 h4{
   color: #fff
}
.features1 p{
   color: #fff
}
.features1 .features1-wrap{
   margin-top: 20px;
}
.features1 .feature-list i{
   color: #ffffff;
}
.features1 .feature-list p {
   line-height: 30px;
   color: #fff;
}
.features1 .section-block-bg{
   padding: 25px;
   background: rgb(238 164 127 / 70%);
   -webkit-backdrop-filter: saturate(180%) blur(5px);
   backdrop-filter: saturate(180%) blur(5px);
   -webkit-box-shadow: 0px 5px 30px 0px rgb(148 146 245 / 15%);
   box-shadow: 0px 5px 30px 0px rgb(148 146 245 / 15%);
   overflow: hidden;
}
.bg-grey1 {
	background: #f0dfdf;
}
