<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <meta name="description" content="很多资料有关设计"/>
        <meta name="author" content="作者是小白"/>
        <meta name="keywords" content="设计，家具，自动化"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>我是小白</title>

    </head>
    <body>
        我是小黑
        <br/>
        <h2>sfete</h2>
        <p>eiowewiehajsdjfsk</p>

        
        <a href="http://www.yahoo.com.hk">yahoo网站</a>
        <a href="index.html">第三页</a>
        <a href="slider-1.jpg">床</a>
        <img src="slider-1.jpg" width="400" />
        <video src="hary.mp4" controls width="400">浏览器无法载入影片</video>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CLUPkcLQm64?si=MGGAE9crXHFPHsVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <ol type="A">
            <li>Google</li>
            <li>fa-facebook</li>
            <li>yahoo</li>
        </ol>
        <table width="400">
            <tr>
                <td>日期</td>
                <td>稳</td>
                <td>额头</td>
            </tr>
            <tr>
                <td>22</td>
                <td>33</td>
                <td>44</td>
            </tr>
        </table>
        <div style="color: red;">
            <ol type="A" >
                <li>Google</li>
                <li>fa-facebook</li>
                <li>yahoo</li>
            </ol>
            <table width="400" >
                <tr>
                    <td>日期</td>
                    <td>稳</td>
                    <td>额头</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>33</td>
                    <td>44</td>
                </tr>
            </table>    
        </div>
        <input type="text" placeholder="账户">
        <br/>
        <br/>
        <input type="password" placeholder="密码">
        <br/>
        <br/>
        <input type="date" placeholder="日期">

    </body>
</html>